@use './variable';

.service_back {
    width: 100vw;
    height: 60vh;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;

    .service {
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 5% 0 5%;

        .service_details {
            width: 20vw;

            .service_title {
                font-family: variable.$page_titlefont;
                font-size: 420%;
            }

            .service_discription {
                margin-top: 5%;
                font-family: variable.$normal_textfont;
            }

            .custom_service_btn {
                margin-top: 10%;

                .custom_service_btn_line {
                    margin-top: 2%;
                    background-color: variable.$background;
                    height: 2px;
                    width: 20%;
                    border-radius: 50px;
                }
            }
        }

        .service_template {
            display: flex;
            width: 65vw;
            flex-direction: row;
            justify-content: space-between;

            .service_card {
                width: 17vw;
                height: 50vh;
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    height: 50%;
                    border-radius: 5px;
                }

                .service_card_title {
                    margin-top: 5%;
                    font-weight: bold;
                    font-size: 1.4em;
                }

                .service_card_discription {
                    font-family: variable.$normal_textfont;
                    margin-top: 5%;
                }

                .read_more_btn {
                    margin-top: 5%;

                    .read_more_btn_line {
                        margin-top: 2%;
                        background-color: variable.$background;
                        height: 2px;
                        width: 10%;
                        border-radius: 50px;
                    }

                }

            }
        }
    }
}

@include variable.for_phone_only{
.service_back {
    width: 100vw;
    height: auto;
    .service {
        width: 80vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 5% 0 5%;
        .service_details{
            width: auto;
            margin: 2% 0 5% 0;
        }
        .service_template {
            width: 60vw;
            display: flex;
            flex-direction: column;
            .service_card {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                margin-bottom: 5%;
            }
        }
    }
}
}