@use './variable';

.service_back {
    width: 100%;
    height: 60vh;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;

    .service {
        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 5% 0 5%;

        &_details {
            width: 20vw;

            &_title {
                font-family: variable.$page_titlefont;
                font-size: 3.5rem;
            }

            &_discription {
                margin-top: 5%;
                font-family: variable.$normal_textfont;
            }

            &_btn {
                margin-top: 10%;

                &_line {
                    margin-top: 2%;
                    background-color: variable.$background;
                    height: 2px;
                    width: 20%;
                    border-radius: 50px;
                }
            }
        }

        &_template {
            display: flex;
            width: 65vw;
            flex-direction: row;
            justify-content: space-between;

            &_card {
                width: 17vw;
                height: 50vh;
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    height: 50%;
                    border-radius: 5px;
                }

                &_title {
                    margin-top: 5%;
                    font-weight: bold;
                    font-size: 1.4em;
                }

                &_discription {
                    font-family: variable.$normal_textfont;
                    margin-top: 5%;
                }

                &_btn {
                    margin-top: 5%;

                    &_line {
                        margin-top: 2%;
                        background-color: variable.$background;
                        height: 2px;
                        width: 10%;
                        border-radius: 50px;
                    }

                }

            }
        }
    }
}
@include variable.for_tab {
    .service_back {
        width: 100vw;
        height: auto;
        padding: 5% 0;
        .service {
            width: 80vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 5% 0 5%;
            &_details {
                margin: 0 0 3% 0;
            }
            &_template {
                width: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &_card {
                    width: 200px;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5%;
                }
            }
        }
    }
}
@include variable.for_phone_only {
    .service_back {
        width: 100vw;
        height: auto;

        .service {
            width: 80vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 5% 0 5%;

            &_details {
                width: auto;
                margin: 2% 0 5% 0;
            }

            &_template {
                width: 60vw;
                display: flex;
                flex-direction: column;

                &_card {
                    width: auto;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 5%;
                }
            }
        }
    }
}