@use './variable';

.managing_team {
    width: 100vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_heading {
        text-align: center;
        margin-bottom: 7%;

        &_title {
            font-family: variable.$page_titlefont;
            font-weight: bold;
            font-size: 3.5rem;
            margin-bottom: 3%;
        }

        &_discription {
            font-family: variable.$normal_textfont;
            font-weight: 570;
        }
    }

    &_template {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;

        &_card {
            width: 15vw;
            height: 60vh;

            &_img {
                width: 100%;
                height: 70%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }

            &_name {
                font-weight: bold;
                font-size: 1.2rem;
                margin: 4% 0;
            }

            &_domain {
                font-family: variable.$normal_textfont;
                margin-bottom: 4%;
                font-size: 1.2rem;

            }

            &_icons {
                span {
                    margin: 0 5% 0 0;
                }
            }
        }
    }
}

@include variable.for_phone_only {
    .managing_team {
        height: auto;

        &_heading {
            &_title {
                font-size: 3rem;
                margin-top: 5%;
            }
        }

        &_template {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 80vw;

            &_card {
                width: 50vw;
                height: 40vh;
            }
        }
    }
}