@use './variable';

.Working_process_back {
    width: 100vw;
    height: 95vh;
    background-color: rgb(234, 234, 234);
    display: flex;
    align-items: center;
    justify-content: center;

    .Working_process {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 80vw;

        &_img {
            height: 80vh;
            width: 30vw;

            img {
                height: 100%;
                width: 100%;
            }
        }

        &_details {
            height: 73vh;
            width: 30vw;
            margin-right: 10vw;

            &_title {
                font-family: variable.$page_titlefont;
                font-size: 3.5rem;
            }

            &_discription1 {
                font-family: variable.$normal_textfont;
                margin-top: 4%;
            }

            &_discription2 {
                margin-top: 6.5%;

                &_line {
                    margin-top: 1%;
                    height: 2px;
                    width: 65%;
                    background-color: variable.$background;
                }
            }

            &_discription3 {
                font-family: variable.$normal_textfont;
                margin-top: 3%;
            }

            &_discription4 {
                margin-top: 6%;
                font-family: variable.$page_titlefont;

            }

            &_discription4_line {
                margin-top: 1%;
                height: 2px;
                width: 15%;
                background-color: rgb(201, 201, 201);
            }

            &_discription5 {
                margin-top: 5%;
                font-family: variable.$page_titlefont;
            }

            &_discription6 {
                margin-top: 5%;
                font-family: variable.$page_titlefont;
            }

            &_btn {
                margin-top: 6%;
                font-family: variable.$page_titlefont;
                @include variable.white_btn(10px, 40px, 0.9em, variable.$background, white, variable.$background);

                &:hover {
                    background-color: white;
                    color: variable.$background;
                }
            }
        }
    }
}


@include variable.for_phone_only {
    .Working_process_back {
        height: auto;

        .Working_process {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: auto;
            margin: 5% 0 5% 0;

            &_img {
                height: 40vh;
                width: auto;
            }

            &_details {
                height: auto;
                width: auto;
                margin-left: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                &_discription2 {
                    &_line {
                        margin-top: 1%;
                        height: 3px;
                        width: 100%;
                    }
                }

                &_discription4_line {
                    margin-top: 1%;
                    height: 3px;
                    width: 100%;
                }
            }
        }
    }
}